/* This one all font style for all body */
.body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Finish font style for body */


/* This style for first banner  */
.first-baner-title{
text-align: center;
padding-top: 170px;
font-weight: 350px;
font-size: 40px;
color: #fff;

}
.firs-baner-discription{
text-align: center;
font-weight: 00px;
font-size: 70px;
margin-top: -10px;
color: #fff;
}
.first-banner{
background-image:url(./Rectangle\ 15.png),url(./Rectangle\ 14.png);

background-repeat: no-repeat;
border-radius: 16px;
width: 1320px;
height: 600px;
margin-left: 80px;
margin-left: 300px;

}
/* First  style Baner End  */

/* Second Banner Style Start */
.second-banner{
    text-align: center;
}
.second-banner-off{
font-weight: 700px;
font-size: 70px;
color: #f00;
margin-top: 100px;
}
.holiday-deals{
font-weight: 500;
font-size: 24px;
color: #f00;
}
.catagory{
font-weight: 700;
font-size: 48px;
color: #070211;
}
.second-banner-imag{
    width: 803px;
    height: 500px;
}

/* Secound  Banner Style End */



/* Third banner style start  */

.third-banner{
    display: flex;
    background-image:url(./Vector.png),url(./B9A1-New-Year-New-Mission-main/./B9A1-New-Year-New-Mission-main/./resources/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-left: 300px;
    margin-top: 100px;
    padding-top: 5px;


}


.third-banner-title{
    font-weight: 900;
    font-size: 64px;
    line-height: 137%;
    letter-spacing: 0.11em;
    color: #fff;
    margin-left:150px;
} 
.third-banner-description{
font-weight: 400;
font-size: 18px;
line-height: 167%; 
 color: rgba(255, 255, 255, 0.8);
 margin-left: 150px;
}
.third-banner-join{
font-weight: 700;
font-size: 20px;
text-transform: uppercase;
color: #fff; 
margin-left: 150px; 
} 

.third-banner-img{
    margin-left: 150px;
    width: 319px;
height: 464px;
margin-top: 40px;
}


/* Thired baner end  */

/* Foruth Banner Style Start  */
.Fourthbanner{
    text-align: center;
    margin-top: 100px;
    background-image: url(./background.png);
    border-radius: 16px;
    width: 1300px;
    height: 482px;
    margin-left: 300px;
}
.Fourth-banner-description{
font-weight: 600;
font-size: 32px;
line-height: 175%;
text-transform: capitalize;
text-align: center;
color: #070211;
padding-top: 100px;
margin-bottom: 50px;
}
.forth-banner-latter{
    color: #f00;
}
.button-primary{
    border-radius: 8px;
padding: 16px 32px;
width: 167px;
height: 56px;
background: #f00;

font-size: 10px;
text-transform: uppercase;
text-align: center;
color: #fff;
}

/* fourth style End */


/* Fifth Banner Style Start  */

.Fifth-banner{
    display: flex;
     margin-left: 120px;
     border: #fff;
     margin-top: 150px;
}

.fith-banner-middel-side{
    margin-left: 100px;
}

.fith-banner-right{
    margin-left: 100px;
}

.title-fifth{
font-weight: 500;
font-size: 24px;
text-align: center;
color: #f00;
}

.title-fifth-sub{

    font-weight: 900;
    font-size: 48px;
    text-transform: capitalize;
    color: #070211;
    text-align: center;
    margin-left: 50px;
}

.fifth-banner-discription{
    font-weight: 400px;
    font-size: 20px;
    line-height: 160%;
    color: rgba(7, 2, 17, 0.6);
   
    margin-left: 170px;
}

.fith-banner-middel-side{
    border-radius: 100%;
stroke-width: 15px;
stroke: #f00;

}

.year{
font-weight: 700;
font-size: 48px;
color: #f00;
}

.year-discrpition{
font-weight: 400;
font-size: 20px;
line-height: 160%;
color: rgba(7, 2, 17, 0.6);
}
.right-img{
    width: 140px;
height: 140px;
}
/* Fifth banner style end */

/* Six banner style Start */
.banner-number-six{
    background-color: white;
    width: 1320px;
height: 948px;
margin-left: 300px;
}

.six-banner-first{
    text-align: center;
    margin-top: 150px;
}

.title-six-banner{
font-weight: 700;
font-size: 24px;
color: #070211;
}

.title-discription{
    font-family: var(--second-family);
font-weight: 900;
font-size: 72px;
color: #070211;
}
.title-discription-unique{
    color: #f00;
}

.title-discription-discription{
font-weight: 500;
font-size: 20px;
line-height: 160%;
color: rgba(7, 2, 17, 0.6);
}

.six-title-secound{
    display: flex;
    background-image: url(./B9A1-New-Year-New-Mission-main/./B9A1-New-Year-New-Mission-main/./resources/Rectangle\ 1.png), url(./B9A1-New-Year-New-Mission-main/./B9A1-New-Year-New-Mission-main/./resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  
   


}
.img-for-box{
    width: 673px;
    height: 639px;
}

.img-for-discount{
    width: 220px;
height: 220px;
margin-top: 200px;
margin-left: 100px;

}
/* Six Number Style End */

/* Seven Number Style Start */
.Seven-Number-Section{
    width: 1320px;
    height: 1163px;
    margin-top: 300px;
    margin-left: 300px;
}
.titlenumber-seven{
font-weight: 500;
font-size: 24px;
color: #f00;
}

.seven-number-title-discription{
font-weight: 900;
font-size: 48px;
text-transform: capitalize;
color: #070211;
}

.seven-Number-discription-prgraph{
font-weight: 400;
font-size: 20px;
line-height: 160%;
color: rgba(7, 2, 17, 0.6);
}

.seven-number-secound-part{
    margin-top: 10px;
    margin-bottom: 10px;
}
.seven-one{
    border-radius: 16px;
width: 424px;
height: 450px;
margin-left: 10px;
}
/* Seven Number End */

/* Eight Number Style Start Here */
.section-Number-Eight{
    margin-top: 150px;
    text-align: center;
    border-radius: 16px;
width: 1320px;
height: 616px;
background: rgba(255, 0, 0, 0.05);
margin-left: 300px;
padding-top: 100px;
}
.mail{
    width: 150px;
    height: 150px;
}
.title-this-mail{
font-weight: 900;
font-size: 48px;
text-transform: capitalize;
text-align: center;
color: #070211;
}

.discription-title{
font-weight: 400;
font-size: 20px;
line-height: 160%;

color: rgba(7, 2, 17, 0.6);
}
.forspace{
    width: 648px;
height: 72px;
border-radius: 50px;
background: #fff;
font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
text-transform: capitalize;
text-align: center;

}

/* Section End */


/* Fotter Style Start */
.fotter{
    background-color: #070211;
    width: 1600px;
    height: 609px;
    margin-left: 170px;
    margin-top: 100px;
}
.address{
font-weight: 500;
font-size: 24px;
line-height: 167%;
color: #fff;
margin-left: 150px;
margin-top: 100px;
}
.phn-number{
    font-weight: 500;
font-size: 24px;
line-height: 167%;
color: #fff;
}
.contct{
    
    margin-right: 100px;
    margin-top: 100px;
    justify-content:space-between
}
.fotter-first-part{
    display: flex;
    justify-content: space-between;
}
.phone{
    stroke-width: 1.50px;
stroke: #fff;
}
.web-addres{
    font-weight: 500;
    font-size: 24px;
    line-height: 167%;
    color: #fff;
}
.fotter-secondpart{
    text-align: center;
    margin-top: 50px;
  
}

.fm{
    width:64px;
height: 64px;
margin: 10px;
margin-bottom: 30px;
}


.year17{

font-weight: 500;
font-size: 24px;
color: #fff;
margin-left: 150px;

}

.unsubs{
font-weight: 500;
font-size: 24px;
color: #fff;
margin-right: 100px;
}
.last-fotter{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}